<a href="https://colab.research.google.com/github/wisdom3D/data-analysis-project/blob/main/Project_Bootcamp_On_Global_Superstore_2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project_On 
# Global Superstore 2016
#wisdom KOUDAMA

# Aim:

#### The aim of this project is to analyse the data with respect to the sales and profit after filtering some of the columns.

### Project Questions:

1. Total, how many orders have cross the shipping cost of 500?

2. Count the number of segments, countries, regions, markets, categories, and sub-categories present in the global_superstore_2016 data.

3. Get the list of Order ID's where the Indian customer's have bought the things under the category 'Technology' after paying the Shipping Cost more than 500.

4. Get the list of Order ID's where the Indian customer's have bought the things under the category 'Technology' the Sales greater than 500.

5. How many people from the State 'Karnataka' have bought the things under the category 'Technology'?

6. Get the list of countries where the 'Profit' and 'Shipping Cost's are greater than or equal to 2000 and 300 respectively.

7. Find the list of Indian states where the people have purchased the things under the category Technology.

8. Find the overall rank of "India" where the 'Profit' is maximum under the category 'Technology'.

9. Display the data with min, max, average and std of 'Profit' & 'Sales' for each Sub-Category under each Category

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('/content/global_superstore_2016.xls')

In [3]:
data.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11 00:00:00,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2.0,0.0,$62.15,40.77,High
1,26341,IN-2014-JR162107-41675,2014-05-02 00:00:00,2014-07-02 00:00:00,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9.0,0.1,($288.77),923.63,Critical

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  object
 3   Ship Date       51290 non-null  object
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   Postal Code     9994 non-null   float64
 9   City            51290 non-null  object
 10  State           51290 non-null  object
 11  Country         51290 non-null  object
 12  Region          51290 non-null  object
 13  Market          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51284 non-null  object
 19  Quantity        51284 non-null  float64
 20  Discount        51284 non-null  float64
 21  Profit          51284 non-null  object
 22  Shipping Cost   51284 non-null  float64
 23  Order Priority  51284 non-null  object
dtypes: float64(4), int64(1), object(19)
memory usage: 9.4+ MB

In [5]:
data['Order Date'] = pd.to_datetime(data['Order Date'])

In [6]:
data['Ship Date'] = pd.to_datetime(data['Ship Date'])

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   Postal Code     9994 non-null   float64
 9   City            51290 non-null  object
 10  State           51290 non-null  object
 11  Country         51290 non-null  object
 12  Region          51290 non-null  object
 13  Market          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51284 non-null  object
 19  Quantity        51284 non-null  float64
 20  Discount        51284 non-null  float64
 21  Profit          51284 non-null  object
 22  Shipping Cost   51284 non-null  float64
 23  Order Priority  51284 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(1), object(17)
memory usage: 9.4+ MB

In [8]:
data.drop(columns = ['Row ID', 'Customer ID', 'Postal Code'], inplace = True)

In [9]:
data.head(1)

,Order ID,Order Date,Ship Date,Ship Mode,Customer Name,Segment,City,State,Country,Region,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2.0,0.0,$62.15,40.77,High

In [10]:
if data['Sales'].str.contains('$').any():
   print("present")

present

In [11]:
if data['Profit'].str.contains('$').any():
  print("yes")

yes

In [12]:
data['Sales'] = data['Sales'].str.replace('$', '', regex = True)
data['Sales'][:10]

0      221.98
1    3,709.40
2    5,175.17
3    2,892.51
4    2,832.96
5    2,862.68
6    1,822.08
7    5,244.84
8      341.96
9       48.71
Name: Sales, dtype: object

In [13]:
data['Sales'] = data['Sales'].str.replace(',', '', regex = True)
data['Sales'][:10]

0     221.98
1    3709.40
2    5175.17
3    2892.51
4    2832.96
5    2862.68
6    1822.08
7    5244.84
8     341.96
9      48.71
Name: Sales, dtype: object

In [14]:
data['Profit'] = data['Profit'].str.replace(',', '', regex = True)
data['Profit'][:10]

0      $62.15
1    ($288.77)
2     $919.97
3     ($96.54)
4     $311.52
5     $763.28
6     $564.84
7     $996.48
8      $54.71
9       $5.48
Name: Profit, dtype: object

In [15]:
data['Profit'] = data['Profit'].str.replace('$', '', regex = True)
data['Profit'][:10]

0      62.15
1    (288.77)
2     919.97
3     (96.54)
4     311.52
5     763.28
6     564.84
7     996.48
8      54.71
9       5.48
Name: Profit, dtype: object

In [16]:
data['Profit'] = data['Profit'].str.replace('(', '', regex = True)
data['Profit'][:10]

0     62.15
1    288.77)
2    919.97
3     96.54)
4    311.52
5    763.28
6    564.84
7    996.48
8     54.71
9      5.48
Name: Profit, dtype: object

In [17]:
data['Profit'] = data['Profit'].str.replace(')', '', regex = True)
data['Profit'][:20]

0       62.15
1       288.77
2      919.97
3        96.54
4      311.52
5      763.28
6      564.84
7      996.48
8       54.71
9        5.48
10       4.66
11     647.55
12    1151.40
13     622.02
14    1036.08
15     186.95
16        2.52
17    3979.08
18      28.40
19     818.28
Name: Profit, dtype: object

In [18]:
data['Profit'] = data['Profit'].astype(np.float64)

In [19]:
data.head(1)

,Order ID,Order Date,Ship Date,Ship Mode,Customer Name,Segment,City,State,Country,Region,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.98,2.0,0.0,62.15,40.77,High

**Total, how many orders have cross the shipping cost of 500?**

In [20]:
len(data[data['Shipping Cost'] > 500])

120

In [21]:
data[data['Shipping Cost'] > 500].shape[0]

120

**Count the number of segments, countries, regions, markets, categories, and sub-categories present in the global_superstore_2016 data.**

In [41]:
data[['Segment']].value_counts()

Segment
Consumer       26518
Corporate      15429
Home Office     9343
dtype: int64

In [42]:
data[['Country']].value_counts()

Country
United States    9994
Australia        2837
France           2827
Mexico           2635
Germany          2063
                 ...
Suriname            1
Kuwait              1
Malawi              1
The Gambia          1
Bhutan              1
Length: 165, dtype: int64

In [43]:
data[[ 'Region']].value_counts()

Region
Western Europe       5883
Central America      5616
Oceania              3487
Western US           3203
Southeastern Asia    3129
South America        2988
Eastern US           2848
Southern Asia        2655
Western Asia         2440
Eastern Asia         2374
Central US           2323
Northern Europe      2204
Southern Europe      2113
Caribbean            1690
Southern US          1620
Eastern Europe       1529
Western Africa       1460
North Africa         1278
Eastern Africa        728
Central Africa        643
Southern Africa       478
Canada                384
Central Asia          217
dtype: int64

In [44]:
data[['Market']].value_counts()

Market
Asia Pacific    14302
Europe          11729
USCA            10378
LATAM           10294
Africa           4587
dtype: int64

In [45]:
data[[ 'Category']].value_counts()

Category
Office Supplies    31289
Technology         10141
Furniture           9860
dtype: int64

In [46]:
data[['Sub-Category']].value_counts()

Sub-Category
Binders         6146
Storage         5049
Art             4864
Paper           3492
Chairs          3434
Phones          3357
Furnishings     3154
Accessories     3075
Labels          2601
Fasteners       2601
Bookcases       2411
Supplies        2407
Envelopes       2387
Copiers         2223
Appliances      1742
Machines        1486
Tables           861
dtype: int64

In [22]:
data[['Segment', 'Country', 'Region','Market', 'Category', 'Sub-Category']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Segment       51290 non-null  object
 1   Country       51290 non-null  object
 2   Region        51290 non-null  object
 3   Market        51290 non-null  object
 4   Category      51290 non-null  object
 5   Sub-Category  51290 non-null  object
dtypes: object(6)
memory usage: 2.3+ MB

**Get the list of Order ID's where the Indian customer's have bought the things under the category 'Technology' after paying the Shipping Cost more than 500.**

In [50]:
data1 = data.query("(Country == 'India') & (Category == 'Technology') ")
sol = data1[data1['Shipping Cost'] >= 500]['Order ID']
sol.tolist()

['IN-2015-BF1100558-42319',
 'IN-2015-SW2027558-42125',
 'IN-2013-SG2047058-41424',
 'IN-2013-GP1474058-41419']

**Get the list of Order ID's where the Indian customer's have bought the things under the category 'Technology' the Sales greater than 500.**

In [24]:
data['Sales'] = data['Sales'].astype(np.float64)

In [25]:
data2 = data.query("(Country == 'India') & (Category == 'Technology') ")
data2[data2['Sales'] > 500]['Order ID']

41       IN-2015-BF1100558-42319
48       IN-2015-SW2027558-42125
55       IN-2013-SG2047058-41424
90       IN-2013-GP1474058-41419
130      IN-2014-SV2081558-41968
                  ...
14874    IN-2013-ML1826558-41503
15236    IN-2015-HG1484558-42339
23250    IN-2013-MA1799558-41565
24316    IN-2012-DP1316558-41173
35903    IN-2013-JS1568558-41371
Name: Order ID, Length: 163, dtype: object

**How many people from the State 'Karnataka' have bought the things under the category 'Technology'?**

In [55]:
data3 = data[(data['State'] == 'Karnataka')]
len(data3[data3['Category'] == 'Technology'])

21

In [54]:
data3 = data[(data['Country'] == 'India') &  (data['State'] == 'Karnataka')]
len(data3[data3['Category'] == 'Technology'])

21

**Get the list of countries where the 'Profit' and 'Shipping Cost's are greater than or equal to 2000 and 300 respectively.**

In [56]:
data4 = data[data['Profit'] >= 2000]
data4[data4['Shipping Cost'] >= 300]

,Order ID,Order Date,Ship Date,Ship Mode,Customer Name,Segment,City,State,Country,Region,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
17,ES-2015-PJ1883564-42255,2015-08-09,2015-09-14,Standard Class,Patrick Jones,Corporate,Prato,Tuscany,Italy,Southern Europe,...,OFF-AP-4743,Office Supplies,Appliances,"Hoover Stove, Red",7958.58,14.0,0.0,3979.08,778.32,Low
42,IN-2015-VG2180558-42273,2015-09-26,2015-09-28,Second Class,Vivek Grady,Corporate,Thiruvananthapuram,Kerala,India,Southern Asia,...,FUR-BO-5951,Furniture,Bookcases,"Sauder Classic Bookcase, Traditional",5667.87,13.0,0.0,2097.03,658.35,Medium
81,MO-2015-DP310586-42305,2015-10-28,2015-10-30,Second Class,Dave Poirier,Corporate,Meknes,MeknÃ¨s-Tafilalet,Morocco,North Africa,...,TEC-CO-3710,Technology,Copiers,"Canon Wireless Fax, Laser",5301.24,14.0,0.0,2597.28,568.45,Medium
109,IT-2014-VM2168591-41711,2014-03-13,2014-03-13,Same Day,Valerie Mitchum,Home Office,Bergen op Zoom,North Brabant,Netherlands,Western Europe,...,FUR-CH-5442,Furniture,Chairs,"Office Star Executive Leather Armchair, Black",2570.87,11.0,0.5,2211.17,520.89,High
192,ES-2014-JG15160139-41660,2014-01-21,2014-01-24,Second Class,James Galang,Consumer,Stockton-on-Tees,England,United Kingdom,Northern Europe,...,FUR-TA-3344,Furniture,Tables,"Barricks Conference Table, Fully Assembled",5451.30,6.0,0.0,2071.44,432.13,Medium
215,ID-2012-CA1196566-40949,2012-10-02,2012-02-15,Standard Class,Carol Adams,Corporate,Fuji,Shizuoka,Japan,Eastern Asia,...,TEC-PH-5841,Technology,Phones,"Samsung Smart Phone, VoIP",6998.64,11.0,0.0,2939.31,413.80,Medium
245,LH-2015-JC610575-42032,2015-01-28,2015-01-30,Second Class,Julie Creighton,Corporate,Vilnius,Vilnius,Lithuania,Northern Europe,...,FUR-TA-3345,Furniture,Tables,"Barricks Conference Table, Rectangular",2171.16,8.0,0.7,2750.28,390.09,High
313,IN-2014-CA1277558-41802,2014-12-06,2014-06-17,Standard Class,Cynthia Arntzen,Consumer,Kota,Chhattisgarh,India,Southern Asia,...,TEC-PH-3149,Technology,Phones,"Apple Smart Phone, with Caller ID",5751.54,9.0,0.0,2817.99,353.85,Medium
334,IN-2015-MB173057-42179,2015-06-24,2015-06-28,Standard Class,Maria Bertelson,Consumer,Sydney,New South Wales,Australia,Oceania,...,FUR-BO-5948,Furniture,Bookcases,"Sauder Classic Bookcase, Metal",5486.67,14.0,0.1,2316.51,346.60,Medium
362,ID-2014-SN2056097-41896,2014-09-14,2014-09-14,Same Day,Skye Norling,Home Office,Lahore,Punjab,Pakistan,Southern Asia,...,TEC-PH-3148,Technology,Phones,"Apple Smart Phone, Full Size",3499.16,11.0,0.5,3009.44,333.10,Medium
419,CA-2014-AB10105140-41991,2014-12-18,2014-12-22,Standard Class,Adrian Barton,Consumer,Detroit,Michigan,United States,Central US,...,OFF-BI-4345,Office Supplies,Binders,GBC Ibimaster 500 Manual ProClick Binding System,9892.74,13.0,0.0,4946.37,498.70,Medium
2257,CA-2015-AR10540140-42021,2015-01-17,2015-01-19,Second Class,Andy Reiter,Consumer,Jackson,Michigan,United States,Central US,...,OFF-BI-4340,Office Supplies,Binders,GBC DocuBind P400 Electric Binding System,5443.96,4.0,0.0,2504.22,567.95,High
6422,US-2014-BS11365140-41746,2014-04-17,2014-04-21,Standard Class,Bill Shonely,Corporate,Lakewood,New Jersey,United States,Eastern US,...,TEC-MA-2865,Technology,Machines,"3D Systems Cube Printer, 2nd Generation, Magenta",9099.93,7.0,0.0,2365.98,516.91,Medium
11123,CA-2013-CM12385140-41349,2013-03-16,2013-03-22,Standard Class,Christopher Martinez,Consumer,Atlanta,Georgia,United States,Southern US,...,OFF-BI-4276,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,6354.95,5.0,0.0,3177.48,581.12,Medium
11755,CA-2014-CS12505140-41969,2014-11-26,2014-03-12,Standard Class,Cindy Stewart,Consumer,Lancaster,Ohio,United States,Eastern US,...,TEC-MA-3854,Technology,Machines,Cubify CubeX 3D Printer Double Head Print,4499.99,5.0,0.7,6599.98,451.63,Low
23110,US-2015-GT14635140-42313,2015-05-11,2015-05-11,Same Day,Grant Thornton,Corporate,Burlington,North Carolina,United States,Southern US,...,TEC-MA-3855,Technology,Machines,Cubify CubeX 3D Printer Triple Head Print,7999.98,4.0,0.5,3839.99,674.82,High
24214,US-2013-HM14860140-41632,2013-12-24,2013-12-30,Standard Class,Harry Marie,Corporate,Springfield,Missouri,United States,Central US,...,TEC-CO-3698,Technology,Copiers,Canon PC1060 Personal Laser Copier,4899.93,7.0,0.0,2302.97,350.09,Medium
25238,CA-2015-HL15040140-42326,2015-11-18,2015-11-23,Standard Class,Hunter Lopez,Consumer,Newark,Delaware,United States,Eastern US,...,TEC-CO-3691,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.97,3.0,0.0,5039.99,363.19,Medium
31453,US-2014-KD16270140-41700,2014-02-03,2014-06-03,Standard Class,Karen Daniels,Consumer,Yonkers,New York,United States,Eastern US,...,TEC-MA-3173,Technology,Machines,Ativa V4110MDD Micro-Cut Shredder,4899.93,7.0,0.0,2400.97,466.33,Medium
32753,CA-2013-KD16495140-41586,2013-08-11,2013-08-11,Same Day,Keith Dawkins,Corporate,New York City,New York,United States,Eastern US,...,TEC-MA-6633,Technology,Machines,Zebra ZM400 Thermal Label Printer,4643.80,4.0,0.0,2229.02,607.34,Medium
46295,CA-2012-SC20095140-41174,2012-09-22,2012-09-27,Standard Class,Sanjit Chand,Consumer,Minneapolis,Minnesota,United States,Central US,...,OFF-BI-4821,Office Supplies,Binders,Ibico EPK-21 Electric Binding System,9449.95,5.0,0.0,4630.48,655.61,Medium
49003,CA-2014-TC20980140-41915,2014-03-10,2014-10-10,Standard Class,Tamara Chand,Corporate,Lafayette,Indiana,United States,Central US,...,TEC-CO-3691,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.95,5.0,0.0,8399.98,349.07,Medium
49968,CA-2012-TB21400140-41256,2012-12-13,2012-12-20,Standard Class,Tom Boeckenhauer,Consumer,New York City,New York,United States,Eastern US,...,TEC-MA-4768,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,6999.96,4.0,0.0,2239.99,499.55,Medium

In [59]:
data4['Country'].drop_duplicates().to_list()

['Italy',
 'India',
 'Morocco',
 'Netherlands',
 'United Kingdom',
 'Japan',
 'Lithuania',
 'Australia',
 'Pakistan',
 'United States',
 'Portugal',
 'New Zealand',
 'Turkey',
 'Spain']

**Find the list of Indian states where the people have purchased the things under the category Technology.**

In [30]:
data5 = data[data['Country'] == 'India']
data5[data5['Category'] == 'Technology']

,Order ID,Order Date,Ship Date,Ship Mode,Customer Name,Segment,City,State,Country,Region,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
41,IN-2015-BF1100558-42319,2015-11-11,2015-11-15,Standard Class,Barry Franz,Home Office,Gorakhpur,Haryana,India,Southern Asia,...,TEC-PH-5269,Technology,Phones,"Motorola Smart Phone, with Caller ID",4518.78,7.0,0.0,632.52,658.69,High
48,IN-2015-SW2027558-42125,2015-01-05,2015-01-05,Same Day,Scott Williamson,Consumer,Jamshedpur,Jharkhand,India,Southern Asia,...,TEC-MA-5007,Technology,Machines,"Konica Inkjet, White",2174.13,7.0,0.0,500.01,637.86,Critical
55,IN-2013-SG2047058-41424,2013-05-30,2013-05-31,First Class,Sheri Gordon,Consumer,Bhopal,Madhya Pradesh,India,Southern Asia,...,TEC-CO-4590,Technology,Copiers,"Hewlett Wireless Fax, Color",1526.52,4.0,0.0,732.72,625.77,Critical
90,IN-2013-GP1474058-41419,2013-05-25,2013-05-28,Second Class,Guy Phonely,Corporate,Delhi,Delhi,India,Southern Asia,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",1916.73,3.0,0.0,498.33,548.40,Critical
130,IN-2014-SV2081558-41968,2014-11-25,2014-11-27,First Class,Stuart Van,Corporate,Vadodara,Gujarat,India,Southern Asia,...,TEC-CO-4577,Technology,Copiers,"Hewlett Fax Machine, High-Speed",1590.60,5.0,0.0,572.55,493.20,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39631,IN-2013-JR1570058-41441,2013-06-16,2013-06-22,Standard Class,Jocasta Rupert,Consumer,Kollam,Kerala,India,Southern Asia,...,TEC-AC-4178,Technology,Accessories,"Enermax Numeric Keypad, Bluetooth",114.66,2.0,0.0,4.56,2.33,Medium
40262,IN-2014-GZ1447058-41721,2014-03-23,2014-03-27,Standard Class,Gary Zandusky,Consumer,Ludhiana,Punjab,India,Southern Asia,...,TEC-AC-5221,Technology,Accessories,"Memorex Numeric Keypad, Erganomic",93.42,2.0,0.0,42.96,2.18,Medium
42345,IN-2015-CR1282058-42294,2015-10-17,2015-10-21,Standard Class,Cyra Reiten,Home Office,Patna,Bihar,India,Southern Asia,...,TEC-PH-5838,Technology,Phones,"Samsung Signal Booster, with Caller ID",136.59,1.0,0.0,57.36,1.92,High
43976,IN-2015-LD1700558-42101,2015-07-04,2015-11-04,Standard Class,Lisa DeCherney,Consumer,Kukatpalli,Telangana,India,Southern Asia,...,TEC-CO-3591,Technology,Copiers,"Brother Fax and Copier, Color",385.86,2.0,0.0,84.84,1.77,Medium
51172,IN-2014-AS1013558-41817,2014-06-27,2014-03-07,Standard Class,Adrian Shami,Home Office,Nagercoil,Tamil Nadu,India,Southern Asia,...,TEC-AC-3388,Technology,Accessories,"Belkin Memory Card, Bluetooth",114.81,1.0,0.0,32.13,1.06,Medium

In [63]:
states = data5['State'].drop_duplicates().to_list()
len(states)

25

**Find the overall rank of "India" where the 'Profit' is maximum under the category 'Technology'**

In [33]:
data5.sort_values(by = 'Profit', ascending = False)

,Order ID,Order Date,Ship Date,Ship Mode,Customer Name,Segment,City,State,Country,Region,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
313,IN-2014-CA1277558-41802,2014-12-06,2014-06-17,Standard Class,Cynthia Arntzen,Consumer,Kota,Chhattisgarh,India,Southern Asia,...,TEC-PH-3149,Technology,Phones,"Apple Smart Phone, with Caller ID",5751.54,9.0,0.0,2817.99,353.85,Medium
42,IN-2015-VG2180558-42273,2015-09-26,2015-09-28,Second Class,Vivek Grady,Corporate,Thiruvananthapuram,Kerala,India,Southern Asia,...,FUR-BO-5951,Furniture,Bookcases,"Sauder Classic Bookcase, Traditional",5667.87,13.0,0.0,2097.03,658.35,Medium
184,IN-2015-CP1234058-42202,2015-07-17,2015-07-20,First Class,Christine Phan,Corporate,Aurangabad,Bihar,India,Southern Asia,...,OFF-AP-4502,Office Supplies,Appliances,"Hamilton Beach Refrigerator, Red",4001.04,8.0,0.0,1440.24,439.65,Medium
808,IN-2015-DO1343558-42141,2015-05-17,2015-05-22,Second Class,Denny Ordway,Consumer,Srinagar,Jammu and Kashmir,India,Southern Asia,...,FUR-TA-3431,Furniture,Tables,"Bevis Round Table, Rectangular",3094.56,6.0,0.0,1423.44,227.67,Medium
782,IN-2015-JW1522058-42101,2015-07-04,2015-12-04,Standard Class,Jane Waco,Corporate,Mangalore,Karnataka,India,Southern Asia,...,TEC-PH-3807,Technology,Phones,"Cisco Smart Phone, with Caller ID",3271.20,5.0,0.0,1341.15,232.45,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29233,IN-2015-LD1700558-42101,2015-07-04,2015-11-04,Standard Class,Lisa DeCherney,Consumer,Kukatpalli,Telangana,India,Southern Asia,...,TEC-AC-5883,Technology,Accessories,"SanDisk Mouse, USB",154.08,4.0,0.0,0.00,5.86,Medium
16044,IN-2015-DW1319558-42320,2015-12-11,2015-11-13,First Class,David Wiener,Corporate,Pune,Maharashtra,India,Southern Asia,...,OFF-BI-4815,Office Supplies,Binders,"Ibico Binding Machine, Clear",101.76,2.0,0.0,0.00,17.86,Critical
37941,IN-2014-AC1061558-41808,2014-06-18,2014-06-22,Standard Class,Ann Chong,Corporate,Ludhiana,Punjab,India,Southern Asia,...,OFF-AR-3546,Office Supplies,Art,"Boston Pens, Blue",28.44,2.0,0.0,0.00,2.75,Medium
42473,IN-2013-AH1007558-41474,2013-07-19,2013-07-25,Standard Class,Adam Hart,Corporate,Faridabad,Haryana,India,Southern Asia,...,OFF-PA-5851,Office Supplies,Paper,"SanDisk Computer Printout Paper, 8.5 x 11",67.86,2.0,0.0,0.00,1.91,Medium
45951,IN-2015-DJ1363058-42153,2015-05-29,2015-02-06,Second Class,Doug Jacobs,Consumer,Guntur,Andhra Pradesh,India,Southern Asia,...,OFF-LA-4685,Office Supplies,Labels,"Hon Round Labels, 5000 Label Set",35.25,5.0,0.0,0.00,1.58,Medium

In [68]:
len(data5['Profit'])

1554

In [69]:
len(data5[data5['Profit'] > 0])

1522

**Display the data with min, max, average and std of 'Profit' & 'Sales' for each Sub-Category under each Category**

In [70]:
function = [('min_value', 'min'), ('max_value', 'max'), ('mean_value', 'mean'), ('std_value', 'std')]

In [71]:
data6 = data.groupby(by = 'Sub-Category')
data6['Profit', 'Sales'].agg(function)

<ipython-input-71-3e972c224c1a>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data6['Profit', 'Sales'].agg(function)

                Profit                                       Sales            \
             min_value max_value  mean_value   std_value min_value max_value
Sub-Category
Accessories        0.0   1345.50   68.078478  115.069702      0.99   3449.88
Appliances         0.0   3979.08  154.726515  273.611285      0.44   7958.58
Art                0.0    371.23   20.795995   27.376060      1.34   1113.02
Binders            0.0   4946.37   28.994784  151.740030      0.56   9892.74
Bookcases          0.0   2316.51  151.313799  201.464319     35.49   5667.87
Chairs             0.0   2211.17   96.845271  158.250662     13.55   5759.96
Copiers            0.0   8399.98  180.685070  337.885306     35.46  17499.95
Envelopes          0.0    279.36   21.188395   26.633151      1.63    604.66
Fasteners          0.0    127.26   10.178531   11.610903      1.24    271.32
Furnishings        0.0    561.96   32.919220   48.025021      1.89   1519.14
Labels             0.0    385.38    8.654617   14.863848      1.67    786.48
Machines           0.0   6599.98  145.500404  318.019250     11.51  22638.48
Paper              0.0    352.30   22.540272   28.645818      3.38    733.95
Phones             0.0   4088.38  121.999809  229.382876      2.97   6998.64
Storage            0.0    802.17   51.603367   81.462674      2.80   2962.68
Supplies           0.0   1049.34   24.472530   38.919895      2.92   8187.65
Tables             0.0   2750.28  260.352021  316.342028     24.37   5451.30


              mean_value   std_value
Sub-Category
Accessories   243.502887  327.493136
Appliances    580.100896  798.680507
Art            76.400843   82.090796
Binders        75.149705  288.673033
Bookcases     608.283928  602.487538
Chairs        437.298241  535.097972
Copiers       679.008776  821.101120
Envelopes      70.891320   70.009550
Fasteners      34.407993   29.317593
Furnishings   122.116725  145.810487
Labels         28.200903   34.178941
Machines      524.266703  928.001009
Paper          69.240455   74.755398
Phones        508.437489  717.305537
Storage       223.175635  292.236933
Supplies      100.877084  272.156490
Tables        879.259199  796.402515